


body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("b17d7c7114fe6d11b4d0d937ac301d5e.png");
    background-position: center;
    background-repeat: repeat; 
    background-size: cover; 
}
