


body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("e0aa514d138d5bf19b3522b38e675063.png");
    background-position: center;
    background-repeat: repeat; 
    background-size: cover; 
}
