 
 .container {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 550px;
    text-align: center;
    margin-top: auto;
    align-content: center;
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a, #000000);
     
}

    
img{
    align-items: center;
    width: 230px;
    
}

.motto{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: vibrate 1s infinite;
    opacity: 0.7;
}




